h1, .h1 { font-size: 3rem; }

.navbar { min-height: 80px; }
@media (max-width: 768px) { .navbar { min-height: 60px; } }
.navbar.inverse { background-color: #fff; box-shadow: 0 1px 1px #ccc; }
.navbar.inverse .navbar-brand a { background-image: url(../images/ig-es.png); }
.navbar.inverse .menu ul li a { color: #5d5d5d; }
.navbar.inverse .menu ul li a:after { background-color: #5d5d5d; }
.navbar.inverse .menu .toggle-menu span { background-color: #5d5d5d; }

.navbar-brand { padding: 0; }
.navbar-brand a { display: block; background-image: url(../images/ig-es-white.png); background-size: contain; height: 80px; width: 380px; background-repeat: no-repeat; }
@media (max-width: 768px) { .navbar-brand a { height: 60px; width: 275px; } }
@media (max-width: 320px) { .navbar-brand a { width: 220px; margin-top: 7px; } }

.menu { float: right; position: relative; }
.menu .toggle-menu { padding: 30px 0 0 15px; width: 60px; position: absolute; top: 0; right: 0; display: none; z-index: 1; }
@media (max-width: 992px) { .menu .toggle-menu { display: block; } }
@media (max-width: 768px) { .menu .toggle-menu { padding: 20px 0 0 15px; } }
.menu .toggle-menu.active span:nth-child(1) { -moz-transform: rotate(45deg) translate3d(3px, 6px, 0); -ms-transform: rotate(45deg) translate3d(3px, 6px, 0); -webkit-transform: rotate(45deg) translate3d(3px, 6px, 0); transform: rotate(45deg) translate3d(3px, 6px, 0); }
.menu .toggle-menu.active span:nth-child(2) { width: 0; }
.menu .toggle-menu.active span:nth-child(3) { -moz-transform: rotate(-45deg) translate3d(7px, -10px, 0); -ms-transform: rotate(-45deg) translate3d(7px, -10px, 0); -webkit-transform: rotate(-45deg) translate3d(7px, -10px, 0); transform: rotate(-45deg) translate3d(7px, -10px, 0); }
.menu .toggle-menu span { display: block; width: 30px; height: 3px; background-color: #fff; margin-bottom: 6px; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.menu > ul { padding: 0; margin: 0; list-style: none; }
.menu > ul > li { display: inline-block; position: relative; }
.menu > ul > li:hover > ul { display: block; }
.menu > ul > li > a { display: block; padding: 30px 20px; color: #fff; font-size: 1.6rem; position: relative; }
.menu > ul > li > a:after { content: ''; position: absolute; width: 0; height: 2px; background-color: #fff; left: 0; bottom: 10px; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.menu > ul > li > a:hover, .menu > ul > li > a.active { text-decoration: none; }
.menu > ul > li > a:hover:after, .menu > ul > li > a.active:after { width: 100%; }
.menu > ul > li > ul { display: none; position: absolute; left: 0; top: 70px; background: #fff; width: 200px; border: 1px solid #dadada; padding: 0; }
.menu > ul > li > ul > li { display: block; }
.menu > ul > li > ul > li > a { padding: 15px; display: block; font-size: 1.6rem; color: #5d5d5d; }
@media (max-width: 992px) { .menu > ul { display: none; position: fixed; background-color: rgba(255, 102, 148, 0.9); top: 0; right: 0; left: 0; bottom: 0; text-align: center; padding-top: 25%; } }
@media (max-width: 992px) and (max-width: 320px) { .menu > ul { padding-top: 5%; } }
@media (max-width: 992px) { .menu > ul > li { display: block; }
  .menu > ul > li > a { font-size: 2.4rem; color: #fff !important; padding: 15px 15px; }
  .menu > ul > li > a.phone-hide { display: none; }
  .menu > ul > li > a:after { display: none; }
  .menu > ul > li > ul { display: block; position: static; top: initial; left: initial; width: initial; background-color: transparent; border: none; }
  .menu > ul > li > ul > li > a { display: block; font-size: 2.4rem; color: #fff !important; padding: 15px 15px; }
  .menu > ul > li > ul > li > a:hover, .menu > ul > li > ul > li > a:focus { text-decoration: none; } }

.content { font-size: 1.6rem; }

.main { background-image: url(../images/main-2.jpg); background-size: cover; height: 80vh; position: relative; z-index: 0; }
@media (max-width: 480px) { .main { height: 100vh; } }
@media (max-width: 320px) { .main { padding: 60px 0; height: initial; } }
.main:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #000; opacity: 0.2; z-index: -1; }
.main .container { height: 100%; text-align: center; }
.main .container:after { content: ''; width: 0; height: 100%; display: inline-block; vertical-align: middle; position: relative; }
.main .container .intro-box { width: 60%; text-align: center; padding: 3%; display: inline-block; vertical-align: middle; background: rgba(255, 255, 255, 0.8); border-radius: 4px; }
@media (max-width: 768px) { .main .container .intro-box { width: 80%; } }
@media (max-width: 480px) { .main .container .intro-box { width: 98%; } }
.main .container .intro-box .logo { width: 70%; margin: 0 auto; }
@media (max-width: 480px) { .main .container .intro-box .logo { width: 100%; } }
.main .container .intro-box .logo img { width: 100%; }
.main .container .intro-box .tt { line-height: 1.4; font-weight: bold; }
@media (max-width: 480px) { .main .container .intro-box .tt { font-size: 2rem; } }
.main .container .intro-box .text { margin: 5% 0 6% 0; font-size: 1.6rem; line-height: 1.8; }
@media (max-width: 480px) { .main .container .intro-box .text { font-size: 1.6rem; } }

.btn-box .btn { font-size: 1.8rem; margin-top: 3%; padding: 10px 0; }
@media (max-width: 480px) { .btn-box .btn { font-size: 1.6rem; } }

.btn-wrap { padding: 30% 0; }
@media (max-width: 992px) { .btn-wrap { padding: 0 0; } }

.wrap { padding: 5% 0; text-align: center; }
.wrap.wrap-gray { background-color: #ececec; }
.wrap.wrap-dark { background-color: #343da7; color: #fff; }
.wrap.wrap-light { background-color: #ffccdb; }
.wrap.wrap-pink { background-image: url(../images/main.jpg); background-size: cover; color: #fff; position: relative; z-index: 0; }
.wrap.wrap-pink:after { content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color: rgba(255, 102, 148, 0.65); z-index: -1; }
.wrap.wrap-pink .tt { font-size: 2.4rem; }
@media (max-width: 480px) { .wrap.wrap-pink .tt { font-size: 2rem; } }
.wrap.wrap-pink .text-center { margin-top: 3%; }
.wrap.wrap-pink .text-center .btn { width: 120px; height: 120px; line-height: 110px; border-radius: 100%; font-size: 2rem; font-weight: bold; }
.wrap .col-md-6, .wrap .col-md-4, .wrap .col-md-8 { margin-bottom: 5%; }
.wrap .tt { font-weight: bold; line-height: 1.4; margin: 20px 0; }
@media (max-width: 480px) { .wrap .tt { font-size: 2rem; } }
.wrap p { font-size: 1.6rem; line-height: 1.8; }
@media (max-width: 480px) { .wrap p { font-size: 1.5rem; } }
.wrap.theme-bg { padding: 5% 0 20% 0; overflow: hidden; position: relative; }
.wrap.theme-bg .theme-img { position: absolute; left: 0; right: 0; margin: auto; }
.wrap.theme-bg .theme-img img { width: 100%; }
.wrap.facebook-promoter-bg { position: relative; background-image: url(../images/facebook-promoter.png); background-position: bottom center; background-size: contain; background-repeat: no-repeat; padding: 5% 0 30% 0; }
@media (max-width: 768px) { .wrap.facebook-promoter-bg { padding: 5% 0 40% 0; } }
.wrap.facebook-promoter-bg .col-md-8 { background-color: rgba(255, 255, 255, 0.7); }
.wrap .basic-function .border-tt { border-bottom: 1px solid #ff6694; padding: 10px 0; margin-bottom: 10px; }
.wrap .basic-function ul { padding: 0; margin: 0; list-style: none; text-align: left; }
.wrap .basic-function ul li { padding: 3px 20px; }
.wrap .basic-function ul li:before { font-family: 'FontAwesome'; content: "\f14a"; color: #ff6694; margin-right: 5px; }
.wrap.question .item { margin-bottom: 40px; text-align: left; }
.wrap.question .item .title { margin-bottom: 10px; font-size: 1.4rem; font-weight: bold; }
.wrap.question .item p { font-size: 1.4rem; }

.btn-border-primary { color: #ff6694; border: 3px solid #ff6694; display: inline-block; padding: 12px 12px; text-align: center; font-weight: bold; }
.btn-border-primary:hover { text-decoration: none; color: #fff; background-color: #ff6694; }

.cost { margin-top: 60px; }
@media (min-width: 992px) { .cost .col-md-2 { padding: 0; } }
.cost .cost-item.blue .cost-item-top .tt, .cost .cost-item.blue .cost-item-top .text { color: #5bc0de; }
.cost .cost-item.blue .cost-item-bottom i { color: #5bc0de; }
.cost .cost-item.green .cost-item-top .tt, .cost .cost-item.green .cost-item-top .text { color: #5cb85c; }
.cost .cost-item.green .cost-item-bottom i { color: #5cb85c; }
.cost .cost-item.primary .cost-item-top .tt, .cost .cost-item.primary .cost-item-top .text { color: #ff6694; }
.cost .cost-item.primary .cost-item-bottom i { color: #ff6694; }
.cost .cost-item .cost-item-top .tt { font-weight: bold; font-size: 2.8rem; margin: 0; margin-top: 20px; }
.cost .cost-item .cost-item-top .price { position: relative; margin: 10px 0; }
.cost .cost-item .cost-item-top .price span { display: inline-block; }
.cost .cost-item .cost-item-top .price span:nth-child(1) { font-size: 1.4rem; vertical-align: 150%; }
.cost .cost-item .cost-item-top .price span:nth-child(2) { font-size: 4.8rem; }
.cost .cost-item .cost-item-top .price span:nth-child(3) { font-size: 1.4rem; }
.cost .cost-item .cost-item-top .btn { width: 80%; }
.cost .cost-item .cost-item-top .text { font-size: 1.2rem; margin: 10px 0 20px 0; font-weight: bold; }
.cost .cost-item .cost-item-bottom { text-align: center; }
.cost .cost-item .cost-item-bottom table { width: 100%; font-size: 1.4rem; }
.cost .cost-item .cost-item-bottom table tr { padding: 10px 0; }
.cost .cost-item .cost-item-bottom table tr th, .cost .cost-item .cost-item-bottom table tr td { padding: 10px; }
.cost .cost-item .cost-item-bottom table tr th a { color: #333333; text-decoration: underline; }
@media (min-width: 992px) { .cost .cost-item .cost-item-bottom table.th-hidden tr th { display: none; } }

@media (max-width: 992px) { .table-hidden { display: none; } }

.visibility-hide { visibility: hidden; }

.user-text { font-size: 1.4rem !important; text-align: justify; }

.good-list { max-width: 330px; margin: 0 auto; text-align: left; }

.es-lightbox { position: fixed !important; z-index: 2000; width: 100%; left: 0; top: 0; display: none; height: 100vh; background-color: #fff; }
@media (max-width: 480px) { .es-lightbox { overflow-y: scroll; } }

.close-btn { position: absolute; z-index: 2001; padding: 25px; right: 0; }
.close-btn span { display: block; width: 30px; height: 3px; background-color: #ff6694; margin-bottom: 6px; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.close-btn span:nth-child(1) { -moz-transform: rotate(45deg) translate3d(3px, 6px, 0); -ms-transform: rotate(45deg) translate3d(3px, 6px, 0); -webkit-transform: rotate(45deg) translate3d(3px, 6px, 0); transform: rotate(45deg) translate3d(3px, 6px, 0); }
.close-btn span:nth-child(2) { width: 0; }
.close-btn span:nth-child(3) { -moz-transform: rotate(-45deg) translate3d(7px, -10px, 0); -ms-transform: rotate(-45deg) translate3d(7px, -10px, 0); -webkit-transform: rotate(-45deg) translate3d(7px, -10px, 0); transform: rotate(-45deg) translate3d(7px, -10px, 0); }

.copy_txt { font-size: 1.4rem; color: #777; }
.copy_txt a { color: #777; }

.examples .col-md-6, .examples .col-md-3 { margin-bottom: 42px; }
@media (max-width: 768px) { .examples .col-md-6, .examples .col-md-3 { padding: 0 50px; } }
.examples .item { border-radius: 4px; overflow: hidden; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05); height: 0; padding-bottom: 140%; background-position: center top; background-size: cover; background-color: #dae2e6; position: relative; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); position: relative; top: 0; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
@media (min-width: 992px) { .examples .item:hover { top: -4px; } }
.examples .item .link { position: absolute; bottom: 0; background-color: #fff; width: 100%; padding: 10px; text-align: left; box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.2); }
.examples .item .link .tt { padding: 0; margin: 0; }
.examples .item .link a { color: #ababab; font-size: 1.4rem; }

.apps .col-sm-6 { margin-bottom: 30px; }
@media (max-width: 480px) { .apps .col-sm-6 { padding: 0 30px; } }
.apps a { color: #000; display: block; }
.apps a:hover, .apps a:focus { text-decoration: none; }
.apps a .item-card { overflow: hidden; border-radius: 4px; height: 211px; }
.apps .item { display: block; color: #000; position: relative; top: 0; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.apps .item .item-top { background-color: #fff; overflow: hidden; }
.apps .item .item-top img { width: 100%; }
.apps .item .item-bottom { text-align: left; height: 300px; background-color: #f9f9f9; }
.apps .item .item-bottom .title { margin: 0; padding: 10px 10px; background-color: #fff; }
.apps .item .item-bottom .cont { font-size: 1.4rem; }
.apps .item .item-bottom .cont .title { padding: 10px 10px; color: #b1b1b1; border-top: 1px solid #f1f1f1; background-color: transparent; }
.apps .item .item-bottom .cont .text { padding: 20px 10px; color: #7d7d7d; }

.apps-menu { padding: 0; margin: 0; list-style: none; background-color: #b7c1c7; padding: 0.5em 1em; display: inline-block; margin-bottom: 5%; }
.apps-menu li { display: inline-block; }
.apps-menu li a { display: block; color: #000; padding: 0.5em 0.3em; font-size: 1.5rem; }
.apps-menu li a.active { text-decoration: underline; }

.themes .col-sm-6 { margin-bottom: 60px; padding: 0 30px; }
@media (max-width: 768px) { .themes .col-sm-6 { padding: 0 50px; } }
.themes .item { display: block; border-radius: 4px; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05); height: 0; padding-bottom: 140%; background-position: center top; background-size: cover; background-color: #dae2e6; position: relative; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); position: relative; top: 0; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
@media (min-width: 992px) { .themes .item:hover { top: -4px; } }
.themes .item .link { position: absolute; bottom: 0; background-color: #fff; width: 100%; padding: 10px; text-align: left; box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.2); }
.themes .item .link .tt { padding: 0; margin: 0; color: #000; }
.themes .item .link span { color: #ababab; }
.themes .item .mobile { position: absolute; width: 30%; max-width: 140px; z-index: 2; padding: 25px 5px 15px 5px; background: #fff; border-radius: 10px; box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25); /* margin: 190px 0 0 45px; */ bottom: -25px; right: -25px; }
.themes .item .mobile img { max-width: 100%; height: auto; display: inline-block; vertical-align: middle; }

.aside { width: 250px; color: #fff; background-color: #000; height: 100vh; float: left; }
.aside ul { padding: 0; margin: 0; padding: 15px; list-style: none; }

.main-test { width: calc(100% - 250px); float: left; }
.main-test .tt { font-size: 2.4rem; padding: 15px; }

.ig-app { font-size: 1.7rem; }
.ig-app p { margin-bottom: 20px; }
.ig-app .ig-app-top { max-width: 500px; border-bottom: 2px solid #e9417f; margin: 0 auto; text-align: center; }
@media (max-width: 768px) { .ig-app .ig-app-top { padding-bottom: 20px; } }
.ig-app .ig-app-top .logo { height: 95px; display: inline-block; width: 217px; overflow: hidden; vertical-align: middle; }
@media (max-width: 768px) { .ig-app .ig-app-top .logo { width: 177px; } }
.ig-app .ig-app-top .logo img { height: 100%; }
.ig-app .ig-app-top .text { display: inline-block; text-align: center; vertical-align: middle; font-weight: bold; color: #595959; }
.ig-app .landing-page { text-align: center; margin: 10% auto; padding: 20px; }
.ig-app .landing-page .loading-icon { color: #e9417f; }
.ig-app .rule-page { margin: 5% auto; padding: 20px; }
.ig-app .rule-page .edit-rule { margin: 0 auto; max-width: 500px; font-size: 1.7rem; }
.ig-app .rule-page .edit-rule ol { margin-top: 10px; }
.ig-app .rule-page .edit-rule ol > li { margin-bottom: 20px; }
.ig-app .rule-page .edit-rule ol > li ul { list-style: disc; margin-top: 10px; }
