/* line 13, ../sass/custom.scss */
.navbar {
  min-height: 60px;
}
/* line 15, ../sass/custom.scss */
.navbar.inverse {
  background-color: #fff;
  box-shadow: 0 1px 1px #ccc;
}
/* line 18, ../sass/custom.scss */
.navbar.inverse .navbar-brand a {
  background-image: url(../images/ig-es.png);
}
/* line 21, ../sass/custom.scss */
.navbar.inverse .menu ul li a {
  color: #5d5d5d;
}
/* line 23, ../sass/custom.scss */
.navbar.inverse .menu ul li a:after {
  background-color: #5d5d5d;
}
/* line 27, ../sass/custom.scss */
.navbar.inverse .menu .toggle-menu span {
  background-color: #5d5d5d;
}

/* line 32, ../sass/custom.scss */
.navbar-brand {
  padding: 0;
}
/* line 34, ../sass/custom.scss */
.navbar-brand a {
  display: block;
  background-image: url(../images/ig-es-white.png);
  background-size: contain;
  height: 60px;
  width: 275px;
  background-repeat: no-repeat;
}
@media (max-width: 320px) {
  /* line 34, ../sass/custom.scss */
  .navbar-brand a {
    width: 220px;
    margin-top: 7px;
  }
}

/* line 47, ../sass/custom.scss */
.menu {
  float: right;
  position: relative;
}
/* line 50, ../sass/custom.scss */
.menu .toggle-menu {
  padding: 20px 0 0 15px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 50, ../sass/custom.scss */
  .menu .toggle-menu {
    display: block;
  }
}
/* line 62, ../sass/custom.scss */
.menu .toggle-menu.active span:nth-child(1) {
  -moz-transform: rotate(45deg) translate3d(3px, 6px, 0);
  -ms-transform: rotate(45deg) translate3d(3px, 6px, 0);
  -webkit-transform: rotate(45deg) translate3d(3px, 6px, 0);
  transform: rotate(45deg) translate3d(3px, 6px, 0);
}
/* line 65, ../sass/custom.scss */
.menu .toggle-menu.active span:nth-child(2) {
  width: 0;
}
/* line 68, ../sass/custom.scss */
.menu .toggle-menu.active span:nth-child(3) {
  -moz-transform: rotate(-45deg) translate3d(7px, -10px, 0);
  -ms-transform: rotate(-45deg) translate3d(7px, -10px, 0);
  -webkit-transform: rotate(-45deg) translate3d(7px, -10px, 0);
  transform: rotate(-45deg) translate3d(7px, -10px, 0);
}
/* line 72, ../sass/custom.scss */
.menu .toggle-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 6px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 81, ../sass/custom.scss */
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 85, ../sass/custom.scss */
.menu ul li {
  display: inline-block;
}
/* line 87, ../sass/custom.scss */
.menu ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}
/* line 93, ../sass/custom.scss */
.menu ul li a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 10px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 103, ../sass/custom.scss */
.menu ul li a:hover {
  text-decoration: none;
}
/* line 105, ../sass/custom.scss */
.menu ul li a:hover:after {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 81, ../sass/custom.scss */
  .menu ul {
    display: none;
    position: fixed;
    background-color: rgba(255, 102, 148, 0.9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 30%;
  }
  /* line 122, ../sass/custom.scss */
  .menu ul li {
    display: block;
  }
  /* line 124, ../sass/custom.scss */
  .menu ul li a {
    font-size: 2.8rem;
  }
  /* line 126, ../sass/custom.scss */
  .menu ul li a:after {
    display: none;
  }
}

/* line 134, ../sass/custom.scss */
.content {
  font-size: 1.6rem;
}

/* line 137, ../sass/custom.scss */
.main {
  background-image: url(../images/main-2.jpg);
  background-size: cover;
  height: 80vh;
  position: relative;
  z-index: 0;
}
@media (max-width: 480px) {
  /* line 137, ../sass/custom.scss */
  .main {
    height: 100vh;
  }
}
@media (max-width: 320px) {
  /* line 137, ../sass/custom.scss */
  .main {
    padding: 60px 0;
    height: initial;
  }
}
/* line 150, ../sass/custom.scss */
.main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.2;
  z-index: -1;
}
/* line 161, ../sass/custom.scss */
.main .container {
  height: 100%;
  text-align: center;
}
/* line 164, ../sass/custom.scss */
.main .container:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 172, ../sass/custom.scss */
.main .container .intro-box {
  width: 60%;
  text-align: center;
  padding: 3%;
  display: inline-block;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}
@media (max-width: 768px) {
  /* line 172, ../sass/custom.scss */
  .main .container .intro-box {
    width: 80%;
  }
}
@media (max-width: 480px) {
  /* line 172, ../sass/custom.scss */
  .main .container .intro-box {
    width: 98%;
  }
}
/* line 186, ../sass/custom.scss */
.main .container .intro-box .logo {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  /* line 186, ../sass/custom.scss */
  .main .container .intro-box .logo {
    width: 100%;
  }
}
/* line 192, ../sass/custom.scss */
.main .container .intro-box .logo img {
  width: 100%;
}
/* line 196, ../sass/custom.scss */
.main .container .intro-box .tt {
  line-height: 1.4;
  font-weight: bold;
}
@media (max-width: 480px) {
  /* line 196, ../sass/custom.scss */
  .main .container .intro-box .tt {
    font-size: 2rem;
  }
}
/* line 203, ../sass/custom.scss */
.main .container .intro-box .text {
  margin: 5% 0 8% 0;
  font-size: 1.8rem;
  line-height: 1.8;
}
@media (max-width: 480px) {
  /* line 203, ../sass/custom.scss */
  .main .container .intro-box .text {
    font-size: 1.6rem;
  }
}

/* line 215, ../sass/custom.scss */
.btn-box .btn {
  font-size: 1.8rem;
  margin-top: 3%;
}
@media (max-width: 480px) {
  /* line 215, ../sass/custom.scss */
  .btn-box .btn {
    font-size: 1.6rem;
  }
}

/* line 223, ../sass/custom.scss */
.btn-wrap {
  padding: 50% 0;
}
@media (max-width: 992px) {
  /* line 223, ../sass/custom.scss */
  .btn-wrap {
    padding: 0 0;
  }
}

/* line 229, ../sass/custom.scss */
.wrap {
  padding: 5% 0;
  text-align: center;
}
/* line 232, ../sass/custom.scss */
.wrap.wrap-gray {
  background-color: #ececec;
}
/* line 235, ../sass/custom.scss */
.wrap.wrap-dark {
  background-color: #343da7;
  color: #fff;
}
/* line 239, ../sass/custom.scss */
.wrap.wrap-pink {
  background-image: url(../images/main.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0;
}
/* line 245, ../sass/custom.scss */
.wrap.wrap-pink:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 102, 148, 0.65);
  z-index: -1;
}
/* line 255, ../sass/custom.scss */
.wrap.wrap-pink .tt {
  font-size: 2.4rem;
}
@media (max-width: 480px) {
  /* line 255, ../sass/custom.scss */
  .wrap.wrap-pink .tt {
    font-size: 2rem;
  }
}
/* line 261, ../sass/custom.scss */
.wrap.wrap-pink .text-center {
  margin-top: 3%;
}
/* line 263, ../sass/custom.scss */
.wrap.wrap-pink .text-center .btn {
  width: 120px;
  height: 120px;
  line-height: 110px;
  border-radius: 100%;
  font-size: 2rem;
  font-weight: bold;
}
/* line 273, ../sass/custom.scss */
.wrap .col-md-6,
.wrap .col-md-4,
.wrap .col-md-8 {
  margin-bottom: 5%;
}
/* line 278, ../sass/custom.scss */
.wrap .tt {
  font-weight: bold;
  line-height: 1.4;
  margin: 20px 0;
}
@media (max-width: 480px) {
  /* line 278, ../sass/custom.scss */
  .wrap .tt {
    font-size: 2rem;
  }
}
/* line 286, ../sass/custom.scss */
.wrap p {
  font-size: 1.8rem;
  line-height: 1.8;
}
@media (max-width: 480px) {
  /* line 286, ../sass/custom.scss */
  .wrap p {
    font-size: 1.6rem;
  }
}
/* line 293, ../sass/custom.scss */
.wrap.theme-bg {
  padding: 5% 0 20% 0;
  overflow: hidden;
  position: relative;
}
/* line 297, ../sass/custom.scss */
.wrap.theme-bg .theme-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 302, ../sass/custom.scss */
.wrap.theme-bg .theme-img img {
  width: 100%;
}
/* line 307, ../sass/custom.scss */
.wrap.facebook-promoter-bg {
  position: relative;
  background-image: url(../images/facebook-promoter.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5% 0 30% 0;
}
@media (max-width: 768px) {
  /* line 307, ../sass/custom.scss */
  .wrap.facebook-promoter-bg {
    padding: 5% 0 40% 0;
  }
}
/* line 337, ../sass/custom.scss */
.wrap.facebook-promoter-bg .col-md-8 {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 342, ../sass/custom.scss */
.wrap .basic-function .border-tt {
  border-bottom: 1px solid #ff6694;
  padding: 10px 0;
  margin-bottom: 10px;
}
/* line 347, ../sass/custom.scss */
.wrap .basic-function ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
/* line 352, ../sass/custom.scss */
.wrap .basic-function ul li {
  padding: 3px 20px;
}
/* line 354, ../sass/custom.scss */
.wrap .basic-function ul li:before {
  font-family: 'FontAwesome';
  content: "\f14a";
  color: #ff6694;
  margin-right: 5px;
}
/* line 364, ../sass/custom.scss */
.wrap.question .item {
  margin-bottom: 40px;
  text-align: left;
}
/* line 367, ../sass/custom.scss */
.wrap.question .item .title {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
/* line 372, ../sass/custom.scss */
.wrap.question .item p {
  font-size: 1.4rem;
}

/* line 378, ../sass/custom.scss */
.btn-border-primary {
  color: #ff6694;
  border: 3px solid #ff6694;
  display: inline-block;
  padding: 12px 12px;
  text-align: center;
  font-weight: bold;
}
/* line 385, ../sass/custom.scss */
.btn-border-primary:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff6694;
}
