@import "bootstrap/variables";
@import "compass/css3";
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
h1,
.h1{
    font-size: 3rem;
}
.navbar{
    min-height: 80px;
    @media(max-width: $screen-tablet){
        min-height: 60px;
    }
    &.inverse{
        background-color: #fff;
        box-shadow: 0 1px 1px #ccc;
        .navbar-brand a{
            background-image: url(../images/ig-es.png);
        }
        .menu ul li a{
            color: #5d5d5d;
            &:after{
                background-color: #5d5d5d;
            }
        }
        .menu .toggle-menu span{
            background-color: #5d5d5d;
        }
    }
}
.navbar-brand{
    padding: 0;
    a{
        display: block;
        background-image: url(../images/ig-es-white.png);
        background-size: contain;
        height: 80px;
        width: 380px;
        background-repeat: no-repeat;
        @media(max-width: $screen-tablet){
            height: 60px;
            width: 275px;
        }
        @media(max-width: 320px){
            width: 220px;
            margin-top: 7px;
        }
    }
}
.menu{
    float: right;
    position: relative;
    .toggle-menu{
        padding: 20px 0 0 15px;
        width: 60px;   
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        z-index: 1;        
        @media (max-width: $screen-tablet){
            display: block;
        }
        &.active{
            span:nth-child(1){
                @include transform(rotate(45deg) translate3d(3px,6px,0));
            }
            span:nth-child(2){
                width: 0;
            }
            span:nth-child(3){
                @include transform(rotate(-45deg) translate3d(7px,-10px,0));
            }
        }
        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            margin-bottom: 6px;
            @include transition(all 0.2s ease);            
        }
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 30px 20px;
                color: #fff;
                font-size: 1.6rem;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background-color: #fff;
                    left: 0;
                    bottom: 10px;
                    @include transition(all 0.2s ease-out);                    
                }
                &:hover,
                &.active{
                    text-decoration: none;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
        //tablet menu
        @media(max-width: $screen-tablet){
            display: none;
            position: fixed;
            background-color: rgba(255, 102, 148, 0.9);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            text-align: center;
            padding-top: 25%;
            li{
                display: block;
                a{
                    font-size: 2.4rem;
                    color: #fff!important;
                    padding: 15px 15px;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}
.content{
    font-size: 1.6rem;
}
.main{
    background-image: url(../images/main-2.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: 0;
    @media (max-width: $screen-phone){
        height: 100vh;
    }
    @media (max-width: 320px){
        padding: 60px 0;
        height: initial;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.2;
        z-index: -1;
    }
    .container{
        height: 100%;
        text-align: center;
        &:after{
            content: '';
            width: 0;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }
        .intro-box{
            width: 60%;
            @media(max-width: $screen-tablet){
                width: 80%;
            }
            @media(max-width: $screen-phone){
                width: 98%;
            }
            text-align: center;            
            padding: 3%;
            display: inline-block;
            vertical-align: middle;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 4px;
            .logo{
                width: 70%;
                margin: 0 auto;
                @media(max-width: $screen-phone){
                    width: 100%;
                } 
                img{
                    width: 100%;
                }
            }
            .tt{
                line-height: 1.4;
                font-weight: bold;
                @media(max-width: $screen-phone){
                    font-size: 2rem;
                }
            }
            .text{
                margin: 5% 0 6% 0;
                font-size: 1.6rem;
                line-height: 1.8;  
                @media(max-width: $screen-phone){
                    font-size: 1.6rem;
                }          
            }
        }
    }          
}
.btn-box{
    .btn{
        font-size: 1.8rem;
        margin-top: 3%;
        padding: 10px 0;
        @media(max-width: $screen-phone){
            font-size: 1.6rem;
        } 
    }
}
.btn-wrap{
    padding: 30% 0;
    @media (max-width: $screen-desktop){
        padding: 0 0;
    }
}
.wrap{
    padding: 5% 0;
    text-align: center;
    &.wrap-gray{
        background-color: #ececec;
    }
    &.wrap-dark{
        background-color: #343da7;
        color: #fff;
    }
    &.wrap-pink{
        background-image: url(../images/main.jpg);
        background-size: cover;
        color: #fff;
        position: relative;
        z-index: 0;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(255, 102, 148, 0.65);
            z-index: -1;
        }
        .tt{
            font-size: 2.4rem;
            @media(max-width: $screen-phone){
                font-size: 2rem;
            }
        }
        .text-center{
            margin-top: 3%;
            .btn{
                width: 120px;
                height: 120px;
                line-height: 110px;
                border-radius: 100%;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
    .col-md-6,
    .col-md-4,
    .col-md-8{
        margin-bottom: 5%;
    }
    .tt{
        font-weight: bold;
        line-height: 1.4;
        margin: 20px 0;
        @media(max-width: $screen-phone){
            font-size: 2rem;
        }
    }
    p{
        font-size: 1.6rem;
        line-height: 1.8;
        @media(max-width: $screen-phone){
            font-size: 1.5rem;
        }
    }
    &.theme-bg{
        padding: 5% 0 20% 0;
        overflow: hidden;
        position: relative;
        .theme-img{            
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
    &.facebook-promoter-bg{
        position: relative;
        background-image: url(../images/facebook-promoter.png);
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 5% 0 30% 0;
        @media(max-width: $screen-tablet){
            padding: 5% 0 40% 0;
        }
        // .facebook-promoter-img{
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     margin: auto;
        //     top: 25%;
        //     z-index: -1;
        //     @media(max-width: $screen-desktop){
        //         top: 50%;
        //     }
        //     @media(max-width: $screen-tablet){
        //         top: 70%;
        //     }
        //     @media(max-width: $screen-phone){
        //         top: 90%;
        //     }
        //     img{
        //         width: 100%;
        //     }
        // }
        .col-md-8{
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    .basic-function{
        .border-tt{
            border-bottom: 1px solid #ff6694;
            padding: 10px 0;
            margin-bottom: 10px;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: left;
            li{
                padding: 3px 20px;
                &:before{
                    font-family: 'FontAwesome';
                    content: "\f14a";
                    color: #ff6694;
                    margin-right: 5px;
                }
            }
        }
    }
    &.question{
        .item{
            margin-bottom: 40px;
            text-align: left;
            .title{
                margin-bottom: 10px;
                font-size: 1.4rem;
                font-weight: bold;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}
.btn-border-primary{
    color: $brand-primary;
    border: 3px solid $brand-primary;
    display: inline-block;
    padding: 12px 12px;
    text-align: center;    
    font-weight: bold;
    &:hover{
        text-decoration: none;
        color: #fff;
        background-color: $brand-primary;
    }
}
.cost{
     margin-top: 60px;
    @media(min-width: $screen-desktop){
        .col-md-2{
            padding: 0;
        }
    }
     .cost-item{
         &.blue{
          .cost-item-top{
              .tt,.text{
                  color: $brand-info;
              }
          }
          .cost-item-bottom{
              i{
                  color: $brand-info;
              }
          }
         }
         &.green{
          .cost-item-top{
              .tt,.text{
                  color: $brand-success;
              }
          }
          .cost-item-bottom{
              i{
                  color: $brand-success;
              }
          }
         }
         &.primary{
          .cost-item-top{
              .tt,.text{
                  color: $brand-primary;
              }
          }
          .cost-item-bottom{
              i{
                  color: $brand-primary;
              }
          }
         }
         .cost-item-top{
             .tt{
                font-weight: bold;
                font-size: 2.8rem;
                margin: 0;
                margin-top: 20px;
            }
            .price{
                position: relative;
                margin: 10px 0;
                span{
                    display: inline-block;
                    &:nth-child(1){
                        font-size: 1.4rem;
                        vertical-align: 150%;
                    }
                    &:nth-child(2){
                        font-size: 4.8rem;
                    }
                    &:nth-child(3){
                        font-size: 1.4rem;
                    }
                }
            }
            .btn{
                width: 80%;
            }
            .text{
                font-size: 1.2rem;
                margin: 10px 0 20px 0;
                font-weight: bold;
            }
         }
         .cost-item-bottom{                          
             text-align: center;
             table{
                 width: 100%;
                 font-size: 1.4rem;
                 tr{                    
                     padding: 10px 0;
                     th,td{
                         padding: 10px;
                     }
                     th{
                         a{
                             color: #333333;
                             text-decoration: underline;
                         }               
                     }       
                 }
                 &.th-hidden{
                     tr{
                         th{
                             @media(min-width: $screen-desktop){
                                 display: none;
                             }
                         }
                     }
                 }
             }
         }   
     }
}
.table-hidden{
    @media(max-width: $screen-desktop){
        display: none;
    }
}
.visibility-hide{
    visibility:hidden;
}
.user-text{
    font-size: 1.4rem!important;
    text-align: justify;
}
.good-list{
    max-width: 330px;
    margin: 0 auto;
    text-align: left; 
}
//燈箱
.es-lightbox{
    position: fixed!important;
    z-index: 2000;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
    height: 100vh;
    background-color: #fff;
    @media(max-width: $screen-phone){
        
        overflow-y: scroll;
    }
}
.close-btn{
    position: absolute;
    z-index: 2001;
    padding: 25px;
    right: 0;    
    span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: $brand-primary;
        margin-bottom: 6px;
        @include transition(all 0.2s ease);
        &:nth-child(1){
            @include transform(rotate(45deg) translate3d(3px,6px,0));
        }
        &:nth-child(2){
            width: 0;
        }
        &:nth-child(3){
            @include transform(rotate(-45deg) translate3d(7px,-10px,0));
        }  
    }
}
.copy_txt{
    font-size: 1.4rem;    
    color: #777;
    a{
        color: #777;
    }
}